.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
  
.root{
    width:400px;
    margin-left:-200px;
    margin-top:10vh;
    text-align:center;
    left: 50%;
    position:absolute;
    z-index:9999;
    background-color:rgba(255, 255, 255, 0.50);
}
.cardContainer{
  background-color:rgba(255, 255, 255, 0.45);
  padding:30px;
}